<% if signed_in? %>
	<section><%= render 'shared/signedin_homepage_feed' %></section>
	<section><%= render 'shared/user_info' %></section>
	<section><%= render 'shared/stats' %></section>
	<section><%= render 'shared/micropost_form' %></section>
<% else %>
	<section><%= render 'shared/visitor_signin' %></section>
<% end %>

